/* Contenedor principal */
.create-post-page {
    margin: 0;
    font-family: 'Courier New', 'SF Mono', 'Monaco', 'Inconsolata', monospace;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    
}

/* Contenedor del formulario */
.form-container {
    background: #ffffff67;
    padding: 20px;
    border-radius: 10px;
    width: 460px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Título */
.create-post-title {
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
}

/* Etiquetas */
.form-label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: white;
}

/* Selectores */
.form-select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #6A11CB;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form-select:focus {
    border: 2px solid #6A11CB;
}

/* Botón de acción */
.action-button {
    padding: 10px 20px;
    background-color: #FF5252;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: #D32F2F;
}
